nav{
    display: flex;
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
}

nav button{
    border: 2px solid rgb(65,65,65);
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

nav button:hover{
    color: white;
    background-color: rgb(65,65,65);
}